
<app-header></app-header>
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h2>The App component</h2>
      <app-recipes></app-recipes>
      <app-shopping-list></app-shopping-list>
    </div>
  </div>
</div>